<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.voice"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".List.MemoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List.DeleteMemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".List.FolderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Widget.MemoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memo_widget_info" />
        </receiver>

        <activity android:name=".Widget.MemoWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".Widget.RecordWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/record_widget_info" />
        </receiver>

        <activity
            android:name=".List.SpecifyMemoToFolderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".List.DeleteFolderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".List.MoveMemoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Splash.SplashActivity"></activity>
    </application>

</manifest>